[access]
	inheritFrom = All-Projects
[project]
	description = Sample implementation of C++ containers (vector, string, bst, forward_list, stack, queues)
[access "refs/*"]
	owner = group user/Tushar Chugh (TusharChugh)
[access "refs/for/refs/*"]
	read = group user/Tushar Chugh (TusharChugh)
	push = group user/Tushar Chugh (TusharChugh)
	label-Code-Review = -2..+2 group user/Tushar Chugh (TusharChugh)
	label-Verified = -1..+1 group user/Tushar Chugh (TusharChugh)
	rebase = group user/Tushar Chugh (TusharChugh)
	removeReviewer = group user/Tushar Chugh (TusharChugh)
	submit = group user/Tushar Chugh (TusharChugh)
[access "refs/heads/*"]
	read = group user/Tushar Chugh (TusharChugh)
	create = group user/Tushar Chugh (TusharChugh)
	push = +force group user/Tushar Chugh (TusharChugh)
	pushMerge = group user/Tushar Chugh (TusharChugh)
[access "refs/tags/*"]
	push = group user/Tushar Chugh (TusharChugh)
	push = +force group user/Tushar Chugh (TusharChugh)
